@model ISeeYou.Web.Controllers.ProfileViewModel

<div class="row">
    <div class="col-md-12 text-center">
        <a class="btn btn-large btn-warning col-md-12" href="@Url.Action("AddSubject", "Subjects")">
            <span class="glyphicon glyphicon-plus"></span>
            Добавить обозреваемого пользователя
        </a>
    </div>
    <div class="col-md-12">
        <hr />
    </div>
    <div class="col-md-12">
        @if (Model.User.Subjects.Count > 0)
        {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Имя</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var subject in Model.User.Subjects)
                    {
                        <tr>
                            <td>
                                @subject.Id
                            </td>
                            <td>
                                @if (subject.Paid)
                                {
                                    <a href="@Url.Action("ViewSubjectEvents", "Subjects", new {id = subject.Id})">@subject.Name</a>
                                }
                                else
                                {
                                    <span>@subject.Name</span>
                                }
                            </td>
                            <td>
                                <a href="@Url.Action("DeleteSubject", "Subjects", new { id = subject.Id })" class="btn btn-sm pull-right">Удалить<span class="text-danger glyphicon glyphicon-remove"></span></a>
                                @if (!subject.Paid)
                                {
                                <a href="@Url.Action("Create", "Payments", new {id = subject.Id})" class="btn btn-sm pull-right" title="Oплатить">Не оплачен<span class="text-success glyphicon glyphicon-usd"></span></a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h3 class="text-center">Вы пока ни за кем не шпионите</h3>
        }
    </div>
    
</div>



