@model ISeeYou.Web.Controllers.ProfileViewModel

<div class="container">
    <div class="well">
        <h4 class="text-center"><span class="highlight">@Model.User.UserName</span></h4>
    </div>
    
    @if (Model.User.Subjects.Count > 0)
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Имя</th>
                    <th>Айдишка</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var subject in Model.User.Subjects)
                {
                    <tr>
                        <td><a href="@Url.Action("ViewSubjectEvents", "Subjects", new { id = subject.Id })">@subject.Name</a></td>
                        <td>@subject.Id</td>
                        <td><a href="@Url.Action("DeleteSubject", "Subjects", new { id = subject.Id })" class="btn btn-danger pull-right">Удалить</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h3 class="text-center">Вы пока ни за кем не шпионите</h3>
    }
    

    <div>
        <div style="margin-top: 30px;">
            <a class="btn btn-large btn-info span11" href="@Url.Action("AddSubject", "Subjects")">Добавить обозреваемого юзера !</a>
        </div>
    </div>

</div>



