@using System.Web.UI.WebControls
@model ISeeYou.Web.Controllers.SubjectEventsViewModel

@if (Model.Events.Count > 0)
{
    <div id="masonry-container">
       @foreach (var evt in Model.Events)
        {
            <div class="masonry-item">
                <div class="image"><img src="@evt.ImageBig" /></div>
                <div class="source">
                    <a href="@string.Format("http://www.vk.com/id{0}", evt.SourceId)" target="_blank">@string.Format("vk.com/id{0}", evt.SourceId)</a>
                </div>
                <a href="https://vk.com/photo@(evt.SourceId)_@(evt.Id)">@(evt.StartDate.HasValue ? evt.StartDate.Value.ToString("dd/MM/yyyy") : "")</a>
                <div class="like"><span class="glyphicon glyphicon-heart"></span></div>

            </div>
        }
    </div>

    <a id="load_more" href="#" class="btn btn-large btn-success center-block" style="margin-bottom: 50px">Загрузить еще</a>


}
else
{
    <h2 class="text-center" style="padding-top: 50px;">Нету информации :(</h2>
}

<script src="/Scripts/jquery-2.0.3.min.js" type="text/javascript"></script>
<script src="/Scripts/masonry.pkgd.min.js" type="text/javascript"></script>
<script src="/Scripts/imagesloaded.pkgd.min.js" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var page = 2;
        var msnry = null;

        var container = $("#masonry-container");
        container.imagesLoaded(function() {
            msnry = new Masonry(container[0], {
                gutter: 10,
                itemSelector: '.masonry-item'
            });
        });
        
        
        $("#load_more").click(function (e) {
            e.preventDefault();
            jQuery.get("/Subjects/GetMasonryItems", { page: page, id: '@ViewBag.UserId' }, function (data) {
                var elems = [];
                for (var i = 0; i < data.length; i++) {
                    //var vkLink = "vk.com/id" + data[i].SourceId;
                    //var photoLink = data[i].SourceId;
                    //var photoLinkText = data[i].StartTime != null ? data[i].StartTime.getDay() + "/" + data[i].StartTime.getMonth() + 1 + "/" + data[i].StartTime.getYear(): "";
                    //var elem = $('<div class="masonry-item"><div class="image"><img src="' + data[i].ImageBig + '" /></div><div class="source"><a href="http://www.'+ vkLink +'" target="_blank">' + vkLink +'</a></div><a href="'+ photoLink +'">'+ photoLinkText + '</a><div class="like"><span class="glyphicon glyphicon-heart"></span></div></div>');
                    //elems.push(elem);
                    elems.push(data[i]);
                }
                container.append(elems);
                page++;

                container.imagesLoaded(function() {
                    msnry = new Masonry(container[0], {
                        gutter: 10,
                        itemSelector: '.masonry-item'
                    });
                });
            });
        });
    })
    
</script>