@model ISeeYou.Web.Controllers.PaymentViewModel

<div class="row">
    <div class="col-md-6 col-md-offset-3 well">

        <form action="@Url.Action("Create")" class="form-signin animate form-horizontal" method="POST" autocomplete="on">
            <fieldset>
                <legend>
                    Введите данные банковской карты
                </legend>
                <div class="text-danger">
                    @Html.ValidationSummary()
                </div>
                <div class="form-row">
                    <div class="col-xs-12 form-group required">
                        <label class="control-label">Имя на карте</label>
                        <input autocomplete='off' class='form-control' name="CardholderName" type='text' required="required" value="@Model.CardholderName">
                    </div>
                </div>
                <div class="form-row">
                    <div class='form-group card col-md-12'>
                        <label class='control-label'>Номер карты</label>
                        <input autocomplete='off' class='form-control' name="CardNumber" size='20' type='text' required="required" value="@Model.CardNumber">
                    </div>
                </div>
                <div class='form-row'>
                    <div class='col-xs-4 form-group'>
                        <label class='control-label'>CVV</label>
                        <input autocomplete='off' class='form-control' name="Cvv" placeholder='ex. 311' size='4' type='text' required="required" value="@Model.Cvv">
                    </div>
                    <div class='col-xs-4 form-group'>
                        <label class='control-label'>Срок действия</label>
                        <input class='form-control' placeholder='MM' name="ExpirationMounth" size='2' type='text' required="required" value="@Model.ExpirationMounth">
                    </div>
                    <div class='col-xs-4 form-group'>
                        <label class='control-label'> </label>
                        <input class='form-control' placeholder='YYYY' name="ExpirationYear" size='4' type='text' required="required" value="@Model.ExpirationYear">
                    </div>
                </div>
                <div class='form-row '>
                    <button class='form-control btn btn-large btn-warning' type='submit'>Отправить</button>
                </div>
            </fieldset>
            @Html.HiddenFor(x => x.SubjectId)
        </form>
        <hr/>
        <form action="@Url.Action("Coupon")" class="form-signin animate form-horizontal" method="POST" autocomplete="on">
            <fieldset>
                <legend>
                    Введите кодовое слово купона
                </legend>
                <div class="form-row">
                    <div class='form-group card col-md-12'>
                        <label class='control-label'>Кодовое слово</label>
                        <input autocomplete='off' class='form-control' name="Token" size='20' type='text' required="required" value="@Model.CuponToken">
                    </div>
                </div>
                <div class='form-row '>
                    <button class='form-control btn btn-large btn-warning' type='submit'>Отправить</button>
                </div>
            </fieldset>

            @Html.HiddenFor(x => x.SubjectId)
        </form>

    </div>
</div>


