@using System.Web.Optimization
@model ISeeYou.Web.Models.Security.SignUpModel

@{
    Layout = "_LoginLayout.cshtml";
}

<div class="col-md-6 col-md-offset-3 well">
    <div id="register" class="animate form-horizontal">
        <form action="@Url.Action("Register")" class="form-signin" method="POST" autocomplete="on">
            <fieldset>
                <legend>Регистрация</legend>
                <div class="form-group">
                    <label for="usernamesignup" class="col-md-2 control-label">Логин</label>
                    <div class="col-md-10">
                        <input id="usernamesignup" name="Username" class="form-control" required="required" type="text" placeholder="Введите логин" value="@Model.Username" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="emailsignup" class="col-md-2 control-label">Email</label>
                    <div class="col-md-10">
                        <input id="emailsignup" class="form-control" name="EmailAddress" required="required" type="email" placeholder="Введите email" value="@Model.EmailAddress" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="passwordsignup" class="col-md-2 control-label">Пароль</label>
                    <div class="col-md-10">
                        <input id="passwordsignup" class="form-control" name="Password" required="required" type="password" placeholder="Введите пароль" />
                    </div>
                </div>
                <div class="form-group">
                    @*<label for="passwordsignup_confirm" class="col-md-2">Подтвердите пароль</label>*@
                    <div class="col-md-10 col-md-offset-2">
                        <input id="passwordsignup_confirm" class="form-control" name="ConfirmedPassword" required="required" type="password" placeholder="Подтвердите пароль" />
                    </div>
                </div>
                <div class="signin form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <input type="submit" class="btn btn-large btn-primary" value="Зарегистрироваться" />
                        или
                        @Html.ActionLink("Войти", "Login", "Account")
                    </div>
                </div>
            </fieldset>
            @Html.ValidationSummary()
            @Html.HiddenFor(x => x.ReturnUrl)
        </form>
    </div>
</div>


